*.pyc
logs
*.log
*.iml
target
version.properties
.DS_Store
*.iml
.idea
*.pid

# ignore Eclipse files, use "git add -f" if you want to add these files.
#.classpath
#.project
.settings
bin/
target/
/example-app.jardesc

# front end resources
node/
node_modules/
bower_components/
src/main/generated-resources/assets/css/*.css
/.classpath
/.project

\.metadata/\.lock

\.metadata/\.mylyn/repositories\.xml\.zip

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/10/007eaadbf57a00181ff3e88f23bddb6f

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/1b/c01f2170cb7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/1c/4004cebaf57a00181ff3e88f23bddb6f

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/20/500c5b0bca7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/24/a05fd1baf57a00181ff3e88f23bddb6f

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/27/604ab0dbf57a00181ff3e88f23bddb6f

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/27/f01baac5cf7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/33/30eb8afdcf7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/3a/f0e9a146ca7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/46/a023e9e2cf7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/48/60fa04c0cc7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/48/f01e61a9cd7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/4a/f00b3ccecc7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/5/d01eb69fc57e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/50/90476445cf7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/52/b0e23fc7c57e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/6a/b029635dcf7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/72/80d17941d07e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/74/70cac6dfce7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/7d/0003bf10c97e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/7f/604766c6cc7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/7f/70dcf8f7cc7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/80/9068a10fca7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/88/80fd9b48d07e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/8c/70093498ce7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/9/3074f58cca7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/9a/b0869e20c47e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/9d/e01d0895ce7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/9f/3066b06ccf7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/a7/c03fe598c87e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/ab/70d13a82c57e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/ab/90a9d3baf57a00181ff3e88f23bddb6f

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/b/a0386fcec67e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/b1/1023ea21d07e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/b2/60e5cd71cb7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/b5/a0d4e201c57e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/bc/40327ba2c57e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/bf/f074f927cf7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/c/301a1b2dc87e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/c0/304c240ecf7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/d6/8027aedbf57a00181ff3e88f23bddb6f

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/d6/901ba6eccb7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/d8/f013df7ccd7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/dd/6082ce66cf7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/e/908748dbc97e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/e8/40805a52c57e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/ec/402a4785c97e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/f3/00aeb608cf7e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/ff/80f4575ed07e001814ffd247913f93a3

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/gesture-driver/\.indexes/af/history\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/gesture-driver/\.indexes/e4/b9/22/81/2c/4b/b7/history\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/gesture-driver/\.indexes/properties\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/gesture-driver/\.markers

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/gesture-driver/\.markers\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/gesture-driver/\.syncinfo\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/gesture-driver/org\.eclipse\.egit\.core/GitProjectData\.properties

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/IOLITE_MMIA_App/\.indexes/af/history\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/IOLITE_MMIA_App/\.indexes/properties\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/IOLITE_MMIA_App/\.markers

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/IOLITE_MMIA_App/\.markers\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/IOLITE_MMIA_App/\.syncinfo\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/IOLITE_MMIA_App/org\.eclipse\.egit\.core/GitProjectData\.properties

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/\.indexes/properties\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/\.markers\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/\.syncinfo\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/org\.eclipse\.egit\.core/GitProjectData\.properties

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/history\.version

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/properties\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/properties\.version

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.markers\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/1\.tree

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.safetable/org\.eclipse\.core\.resources

\.metadata/\.plugins/org\.eclipse\.core\.resources/1\.snap

\.metadata/\.plugins/org\.eclipse\.debug\.core/\.launches/gesture-driver\.launch

\.metadata/\.plugins/org\.eclipse\.debug\.ui/launchConfigurationHistory\.xml

\.metadata/\.plugins/org\.eclipse\.e4\.workbench/workbench\.xmi

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/http-cache\.lucene60/segments_1

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/http-cache\.lucene60/write\.lock

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history\.lucene60/_0\.cfe

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history\.lucene60/_0\.cfs

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history\.lucene60/_0\.si

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history\.lucene60/segments_1

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history\.lucene60/write\.lock

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/server-config\.json

\.metadata/\.plugins/org\.eclipse\.jdt\.core/100574398\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1093488887\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1127254777\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/114695058\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1177904427\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1204375214\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1220308574\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1223396850\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1259437185\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1312486872\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1346541639\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1350111929\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1424519780\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1461919251\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1476729449\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1617368500\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1671353803\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1757337008\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1788312299\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/1845700806\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/186834233\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2023418852\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2032733676\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2043626465\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2084125795\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2088728460\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2118661281\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2125071999\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2210075521\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2274982701\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2292799861\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2326304933\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2356580135\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2378238116\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2404760589\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2420081399\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2489328557\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2492604015\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2538215463\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2546682347\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2569137926\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2602922280\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2668948516\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2731524483\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2746023574\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2762649813\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2872033403\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2890906391\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2968229883\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/2978330599\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3042476250\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3062689912\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/306780836\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3114939260\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3170853878\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3244853415\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3273689814\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3363692690\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3415227394\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3440824250\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/344897860\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3487609244\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3505877027\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3577332260\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3609888128\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/362242403\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3664740000\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3738395681\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3751202981\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3827414348\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3838106380\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/385654637\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3901590084\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/4036015477\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/4054038625\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/4069204875\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/4109895198\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/4121661813\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/4128880800\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/4161417001\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/4173779951\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/4213348864\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/432616387\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/457432793\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/503605182\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/560529944\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/567963889\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/582872082\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/607522861\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/636016986\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/648506100\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/684356987\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/695570620\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/710797068\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/718845050\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/793721717\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/806062888\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/806261783\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/823384711\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/838666550\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/839410014\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/847263854\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/890887124\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/916900781\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/935747494\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/984140271\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/993235965\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/assumedExternalFilesCache

\.metadata/\.plugins/org\.eclipse\.jdt\.core/externalFilesCache

\.metadata/\.plugins/org\.eclipse\.jdt\.core/externalLibsTimeStamps

\.metadata/\.plugins/org\.eclipse\.jdt\.core/index\.db

\.metadata/\.plugins/org\.eclipse\.jdt\.core/javaLikeNames\.txt

\.metadata/\.plugins/org\.eclipse\.jdt\.core/nonChainingJarsCache

\.metadata/\.plugins/org\.eclipse\.jdt\.core/savedIndexNames\.txt

\.metadata/\.plugins/org\.eclipse\.jdt\.core/variablesAndContainers\.dat

\.metadata/\.plugins/org\.eclipse\.jdt\.launching/\.install\.xml

\.metadata/\.plugins/org\.eclipse\.jdt\.launching/libraryInfos\.xml

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/dialog_settings\.xml

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/jdt-images/0\.png

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/jdt-images/1\.png

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/jdt-images/10\.png

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/jdt-images/2\.png

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/jdt-images/3\.png

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/jdt-images/4\.png

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/jdt-images/5\.png

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/jdt-images/6\.png

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/jdt-images/7\.png

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/jdt-images/8\.png

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/jdt-images/9\.png

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/OpenTypeHistory\.xml

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/QualifiedTypeNameHistory\.xml

\.metadata/\.plugins/org\.eclipse\.ltk\.core\.refactoring/\.refactorings/gesture-driver/2018/7/27/refactorings\.history

\.metadata/\.plugins/org\.eclipse\.ltk\.core\.refactoring/\.refactorings/gesture-driver/2018/7/27/refactorings\.index

\.metadata/\.plugins/org\.eclipse\.m2e\.core\.ui/dialog_settings\.xml

\.metadata/\.plugins/org\.eclipse\.m2e\.core/gesture-driver\.lifecyclemapping

\.metadata/\.plugins/org\.eclipse\.m2e\.core/IOLITE_MMIA_App\.lifecyclemapping

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0_1\.del

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_3

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments\.gen

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write\.lock

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/4086574e0773b655a1d79157976534dc/_0_1\.del

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/4086574e0773b655a1d79157976534dc/_0\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/4086574e0773b655a1d79157976534dc/_1\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/4086574e0773b655a1d79157976534dc/segments_3

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/4086574e0773b655a1d79157976534dc/segments\.gen

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/4086574e0773b655a1d79157976534dc/write\.lock

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0_1\.del

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1_1\.del

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2_1\.del

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_7

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments\.gen

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/write\.lock

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/a33094ba9df57f8eb4b9ba8dd3310983/_0_1\.del

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/a33094ba9df57f8eb4b9ba8dd3310983/_0\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/a33094ba9df57f8eb4b9ba8dd3310983/_1\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/a33094ba9df57f8eb4b9ba8dd3310983/segments_3

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/a33094ba9df57f8eb4b9ba8dd3310983/segments\.gen

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/a33094ba9df57f8eb4b9ba8dd3310983/write\.lock

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/d70570811a43377899359ad0372fa1a5/_k_1\.del

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/d70570811a43377899359ad0372fa1a5/_k\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/d70570811a43377899359ad0372fa1a5/_l\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/d70570811a43377899359ad0372fa1a5/segments_l

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/d70570811a43377899359ad0372fa1a5/segments\.gen

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/d70570811a43377899359ad0372fa1a5/write\.lock

\.metadata/\.plugins/org\.eclipse\.m2e\.core/workspacestate\.properties

\.metadata/\.plugins/org\.eclipse\.m2e\.core/workspaceState\.ser

\.metadata/\.plugins/org\.eclipse\.m2e\.jdt/gesture-driver\.container

\.metadata/\.plugins/org\.eclipse\.m2e\.jdt/IOLITE_MMIA_App\.container

\.metadata/\.plugins/org\.eclipse\.m2e\.logback\.configuration/logback\.1\.8\.3\.20180227-2137\.xml

\.metadata/\.plugins/org\.eclipse\.oomph\.setup/workspace\.setup

\.metadata/\.plugins/org\.eclipse\.pde\.core/\.cache/clean-cache\.properties

\.metadata/\.plugins/org\.eclipse\.rse\.core/initializerMarks/org\.eclipse\.rse\.internal\.core\.RSELocalConnectionInitializer\.mark

\.metadata/\.plugins/org\.eclipse\.rse\.core/profiles/PRF\.desktop-73mm7qf_32539/FP\.local\.files_0/node\.properties

\.metadata/\.plugins/org\.eclipse\.rse\.core/profiles/PRF\.desktop-73mm7qf_32539/H\.local_16/node\.properties

\.metadata/\.plugins/org\.eclipse\.rse\.core/profiles/PRF\.desktop-73mm7qf_32539/node\.properties

\.metadata/\.plugins/org\.eclipse\.tm\.terminal\.view\.ui/\.executables/data\.properties

\.metadata/\.plugins/org\.eclipse\.ui\.intro/introstate

\.metadata/\.plugins/org\.eclipse\.ui\.workbench\.texteditor/dialog_settings\.xml

\.metadata/\.plugins/org\.eclipse\.ui\.workbench/dialog_settings\.xml

\.metadata/\.plugins/org\.eclipse\.ui\.workbench/workingsets\.xml

\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.core/externalLibsTimeStamps

\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.core/libraries/baseBrowserLibrary\.js

\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.core/libraries/browserWindow\.js

\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.core/libraries/dom5\.js

\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.core/libraries/system\.js

\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.core/libraries/xhr\.js

\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.core/variablesAndContainers\.dat

\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.ui/OpenTypeHistory\.xml

\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.ui/QualifiedTypeNameHistory\.xml

\.metadata/\.plugins/org\.eclipse\.wst\.sse\.core/task-tags\.properties

\.metadata/\.plugins/org\.eclipse\.wst\.xml\.core/default_catalog\.xml

\.metadata/\.plugins/org\.eclipse\.wst\.xml\.core/system_catalog\.xml

\.metadata/version\.ini

\.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0\.fdt

\.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0\.fdx

\.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0\.frq

\.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0\.nrm

\.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0\.prx

\.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0\.tis

\.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/write\.lock

RemoteSystemsTempFiles/\.project
