<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Slack settings</a>
                    <a href="#" class="list-group-item">Decision tree</a>
                    <a href="#" class="list-group-item">Text Responses</a>
                    <a href="#" class="list-group-item">Impressum</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="example-row" ng-controller="chatbot-controller">
                <div class="card">
                    <div class="card-header bg-light">
                        <h1>IOLITE <i class="far fa-heart"></i> Slack</h1>
                        <p>Send awesome commands to your iolite enviroment through Slack</p>
                    </div>

                    <div class="card-body">

                        <div class="row mb-5">
                            <div class="col-md-4 mb-4">
                                <div>Create a Slack Bot User for IOLITE</div>
                                <div class="text-muted small">These information are visible to the public.</div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Create a bot in Slack and save the ApiKey somewhere secure. Also you will need him later.</label>
                                            <a href="http://slack.com/apps/manage/custom-integrations">https://slack.com/services/new/bot</a>
                                            <label>Click on Bots and add a new configuration.</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="row mb-5">
                            <div class="col-md-4 mb-4">
                                <div>Access Credentials</div>
                                <div class="text-muted small">These information are visible to the public.</div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label">API-Key:</label>
                                            <input class="form-control" ng-model="ApiKeyChanged" ng-value="ApiKeyValueLoadedFromStorageAPI" ng-change="console.log('test');">
                                            <button style="margin-top: 0.5em;" id="saveAPIKEYButton" class="btn btn-primary" type="button" ng-click='ApiKeyValueSaveToStorageAPI()'>Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="row mb-5">
                            <div class="col-md-4 mb-4">
                                <div>Test the Slack Bot</div>
                                <div class="text-muted small">This section is to test the slack bot and its Credentials through a test message.</div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Check the credentials with a test message. Please enter your slack user email:</label>
                                            <input class="form-control" ng-model="slackUsername" placeholder="YourSlackEmail@gmail.com">
                                            <button type="button" id="sendTestMessageButton" style="margin-top: 0.5em;" class="btn btn-primary" ng-click='sendTestMessage()'>Check-Credentials</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-light text-right">
                        <button type="button" id="startBotButton" class="btn btn-primary" ng-click='startSlackBot()'>Start SlackBot</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>






